.signup-page{ 
    background-image: url("../../assets/login-background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-self: center;
}