.survey_container {
    max-width: 800px;
    margin: auto;
    padding: 10px 30px;
    min-height: 100vh;
    text-align: left;
}

.content_title {
    font-size: 1.8rem;
    font-weight: bold;
}

.survey_info {
    margin: 10px;
    padding: 15px 30px;
    border: solid 1px;
    border-radius: 20px;
    background-color: white;
}

.survey_content {
    margin: 10px;
    padding: 20px;
    border: solid 1px;
    border-radius: 20px;
    background-color: white;
}

.survey_question_index {
    color: orange;
}

.question_container {
    width: 600px;
    margin: auto;
    &_title {
        font-size: 1.6rem;
        font-weight: bold;
        text-align: center;
    }
    li {
        font-size: 1.2rem;
    }
    &_option_box {
        margin: 5px 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        &_answer {
            &:hover {
                background-color: #ccbce4;
            }
            display: flex;
            margin: 10px;
            align-items: center;
            min-width: 260px;
            height: 60px;
            padding: 10px;
            border-radius: 5px;
            border: solid 1px;
            span {
                margin: 20px;
                font-size: 1rem;
            }
        }
    }
}
.option_selecting {
    background-color: #8b80b6;
}

.question_navigate {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    &_back {
        display: flex;
        align-items: center;
        svg {
            margin-right: 8px;
        }
    }
    &_next {
        svg {
            margin-left: 8px;
        }
        display: flex;
        align-items: center;
    }
}
